*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-image: url(https://images.pexels.com/photos/1784577/pexels-photo-1784577.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  height: 568px;
  width: 320px;
  background-repeat: no-repeat;
  background-size: cover;
}